table {
    font-family: Arial, sans-serif;
    border: 1px solid #ddd;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.first-column {
    width: 30%;
}

.input-range {
    width: 200px; /* Defina o comprimento desejado aqui */
  }