.custom-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    background-color: #1b7e45; /* Cor verde desejada */
    border-radius: 50%;
    cursor: pointer;
  }
  
  .custom-slider {
    background: linear-gradient(to right, #5eb95e 0%, #ffffff 100%);
  }

  .comicGreen {
    background-color: #d1d0d0; /* Cor de fundo escuro */
    color: #2b2b2b; /* Cor do texto branco */
    width: 100%;
    height: 100%;
    text-align: center;
  }
  
  .comicGreen th,
  .comicGreen td {
    padding: 0.4rem; /* Ajuste o valor conforme necessário */
  }
  
  .comicGreen tbody td {
    font-size: 0.7rem; /* Ajuste o valor conforme necessário */
  }
  
  .culture-cell {
    min-width: 5rem;
  }

  @keyframes pulse {
    0% {
      transform: scale(0.9);
      opacity: 0.1;
    }
    50% {
      transform: scale(1);
      opacity: 0.3;
    }
    100% {
      transform: scale(0.9);
      opacity: 0.1;
    }
  }
  
  .animate-pulse {
    animation: pulse 1.5s infinite;
  }