* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container-flex {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    }
 

.div-flex-1 { 
    grid-area: 1 / 1 / 6 / 4; 
    background-image: url('../../assets/RoboSurrealismo.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    backdrop-filter: blur(5px);

}

.div-flex-1::before {
    content: "";
    background: rgba(0, 0, 0, 0.6); 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px);
    z-index: 1; 
}



.div-flex-2 {
    grid-area: 1 / 4 / 6 / 6;
    background-color: rgb(0, 0, 0);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div-flex-2 h1 {
    color: white;
    text-align: center;
    padding: 15px;
    font-weight: 500;
    font-size: 2rem;
    
}

.div-flex-2 button {
    color: white;
    background-color: #3C46ff;
    padding: 14px 40px;
    margin-left: 15px;
    width: 200px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    transition: transform 0.3s;
}

.div-flex-2 button:hover {
    background-color: #4e56f1;
    transform: scale(1.1);
}

.text-flex {
    font-size: 1.5rem;
    letter-spacing: 4px;
    color: wheat;
    font-weight: 400;
    border-right: 0.5rem solid;
    width: 32rem;
    white-space: nowrap;
    overflow: hidden;
    animation: 
        typing 8s steps(33),
        cursor .2s step-end infinite alternate;
    animation-iteration-count: 3;
    margin-left: 3rem;
    z-index: 2;
    
}

.div-flex-1 h1 {
    z-index: 2;
    color: rgb(255, 255, 255);
    margin-left: 3rem;
    font-weight: 700;
    font-size: 4rem;
    text-shadow: 7px 7px 6px rgba(0, 0, 0, 0.6);

}

.img-flex {
    z-index: 2;
    width:9rem;
    position: absolute; 
    top: 0; 
    left: 0; 
    padding: 15px;
    
}

@keyframes cursor {
    50% { border-color: transparent ;}
    
}

@keyframes typing {
    from { width: 0 ;}
}


