.div-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 5rem
  }

  .resultados-dataset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    max-width: 80vh;
    margin: 1rem auto 0;
    align-items: center;
    background-color: white;
}

.resultados-dataset h3{
  margin-bottom: 40px;
}


